body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
  }
  
  /*
    Настройки заглушек, имитирующих текст
    Изменять их не надо
  */
  .text-imitator {
    --total-height: 30px;
    --total-width: 100px;
    --text-color: #A1EEFF;
  }
  
  .text--left {
    --total-height: 30px;
  
  }
  
  .text--right {
    --total-width: 200px;
    --total-height: 30px;
  }
  
  
  /*
    Стили компонента пишите здесь
  
    Используемые цвета
    #00E0FF
    #F5F5F5
  */
  